// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
//jQuery UI
@import "~jquery-ui/themes/base/all.css";
// Bootswatch Flatly variables
@import '~bootswatch/dist/flatly/variables';

// Bootstrap color overrides
$theme-colors: (
  primary: $envColorPrimary,
  secondary: $envColorSecondary,
  success: $envColorSuccess,
  warning: $envColorWarning,
  danger: $envColorDanger,
);

$navbar-dark-color: white;
$navbar-dark-hover-color: $envColorTertiary;
$navbar-dark-active-color: $envColorTertiary;

$link-color: $envColorSecondary;
$link-hover-color: darken($envColorSecondary, 25%);

// Import boostrap
@import '~bootstrap/scss/bootstrap';
// Bootswatch Flatly
@import '~bootswatch/dist/flatly/bootswatch';

.navbar-brand{
  font-weight: 800;
  color: white !important;
}

.navbar-laravel {
  background-color: $envColorPrimary;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.event-title a{
  font-weight: bold;
  color: $envColorPrimary;

  &:hover{
    text-decoration: none;
  }
}

.row{
  &.event .btn{
    margin-bottom: 10px;
  }
}

h5 {
  color: $cyan;
  text-decoration: underline;
}